<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    {{!-- <style>
        body{
            background-color: black;
        }
    </style> --}}
</head>
<body>

    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="./images/Exams Customizable Cartoon Illustrations _ Bro Style.png" alt="thapa" class="img-fluid" title="tahap thecnial">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather app</p>
                        <h1>I am a  <span class="text_clr" > Full stack devloper </span> an Coder</h1>
                        <a href="./images/Man.png"><button>check now</button></a>

                    </div>
                    <!-- right side div  -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->
    {{>footer}}

</body>
</html>